<div class="header">
  <h1>
    <i class="fa fa-laptop"></i>
    Add a new pin.
  </h1>
</div>

<%=form_for @pin do |f| %>
	<p>
	<label for="pin_title">Title</label>
	<%= f.text_field :title %>
	</p>
	<p>
	<label for="pin_url">URL</label>
	<%= f.text_field :url %>
	</p>
	<p>
	<label for="pin_text">Description</label>
	<%= f.text_field :text %>
	</p>
	<p>
	<label for="pin_slug">Slug</label>
	<%= f.text_field :slug %>
	</p>
	<p>
	<label for="pin_category_id">Category</label>
	<%= f.collection_select(:category_id, Category.all, :id, :name) %>
	</p>
	<p>
	<%= f.submit %>
	</p>
<% end %>

<a href="/">
  <i class="fa fa-arrow-left"></i>
  Back to Home
</a>

